.l-tab_list_1 {
  --border-weight: 0.2rem;
  --border-radius: 0.4rem;

  display: flex;
  background-color: white;

  &__item {
    display: block;
    font-size: 1.6rem;
    color: lightgray;
    padding: 1rem;
    cursor: pointer;
    min-width: 10rem;
    text-align: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    &:hover {
      background-color: var(--back-color);
      filter: brightness(160%);
      color: white;
    }

    &-active {
      font-weight: 900;
      color: black;
      background-color: var(--back-color);
      z-index: 100;

      &:hover {
        background-color: var(--back-color);
        filter: brightness(100%);
        color: black;
      }
    }
  }
}